---
dist: focal
language: python
python: "3.12"
os: linux
sudo: required
services:
  - docker
install:
  - pip install -I pipenv
  - pipenv install -r test-requirements.txt --skip-lock
env:
  global:
    - PIPENV_IGNORE_VIRTUALENVS=1
  jobs:
    - MOLECULE_DISTRO=MOLECULE_DISTRO:-idealista/jdk:17.0.8-bullseye-temurin-jdk
script:
  - pipenv run molecule test
  - pipenv run molecule test -s zookeeper

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  email:
    if: branch = main
    on_success: change
    on_failure: always
    recipients:
      - desarrollo.benders@idealista.com
