
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  # NOTE(retr0h): Templates no longer fail this lint rule.
  #               Uncomment if running old Molecule templates.
  # truthy: disable

ignore: |
    .molecule/
    molecule/

skip_list:
  - '602' # see: https://github.com/ansible/ansible-lint/issues/457