[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==9.4.0"
ansible-lint = "==24.2.1"
molecule = "==24.2.1"
molecule-plugins = {extras = ["docker"], version = "==23.5.3"}
docker = "==7.0.0"
yamllint = "==1.35.0"

[dev-packages]

[requires]
python_version = "3.11"
