---

- name: KAFKA | Create kafka config and log paths
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
    recurse: true
  with_items:
    - "{{ kafka_conf_path }}"
    - "{{ kafka_log_path }}"

- name: KAFKA | Copy server config
  block:
    - name: KAFKA | Copy server.properties config
      ansible.builtin.template:
        src: "{{ kafka_server_template_path }}"
        dest: "{{ kafka_conf_path }}/server.properties"
        mode: "0640"
        owner: "{{ kafka_user }}"
        group: "{{ kafka_group }}"
      when: not kafka_use_kraft or ('broker' in kafka_process_roles | lower and 'controller' in kafka_process_roles | lower)
      notify: Restart kafka
      register: bootstrap_storage_controller
      tags: [server_properties]

    - name: KAFKA | Copy broker.properties config
      ansible.builtin.template:
        src: "{{ kafka_broker_template_path }}"
        dest: "{{ kafka_conf_path }}/broker.properties"
        mode: "0640"
        owner: "{{ kafka_user }}"
        group: "{{ kafka_group }}"
      when:
        - kafka_use_kraft
        - "'broker' in kafka_process_roles | lower"
        - "'controller' not in kafka_process_roles | lower"
      notify: Restart kafka
      tags: [server_properties]

    - name: KAFKA | Copy controller config
      ansible.builtin.template:
        src: "{{ kafka_controller_template_path }}"
        dest: "{{ kafka_conf_path }}/controller.properties"
        mode: "0640"
        owner: "{{ kafka_user }}"
        group: "{{ kafka_group }}"
      when:
        - kafka_use_kraft
        - "'controller' in kafka_process_roles | lower"
        - "'broker' not in kafka_process_roles | lower"
      notify: Restart kafka
      register: bootstrap_storage_controller
      tags: [server_properties]

    - name: KAFKA | Bootstrap storage controller
      ansible.builtin.command: "{{ kafka_controller_bootstrap_command }}"
      when:
        - kafka_use_kraft
        - bootstrap_storage_controller is defined
      become: true
      become_user: "{{ kafka_user }}"

- name: KAFKA | Copy log properties
  ansible.builtin.template:
    src: "{{ kafka_log4j_template_path }}"
    dest: "{{ kafka_conf_path }}/log4j.properties"
    mode: "0644"
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
  notify: Restart kafka
- name: KAFKA | Enable GC log
  ansible.builtin.replace:
    path: "{{ kafka_install_path }}/bin/kafka-server-start.sh"
    regexp: ^EXTRA_ARGS=\${EXTRA_ARGS-'-name kafkaServer'}
    replace: EXTRA_ARGS=${EXTRA_ARGS-'-name kafkaServer -loggc'}
  when: kafka_gc_log_enabled

- name: KAFKA | Disable GC log
  ansible.builtin.replace:
    path: "{{ kafka_install_path }}/bin/kafka-server-start.sh"
    regexp: ^EXTRA_ARGS=\${EXTRA_ARGS-'-name kafkaServer -loggc'}
    replace: EXTRA_ARGS=${EXTRA_ARGS-'-name kafkaServer'}
  when: not kafka_gc_log_enabled

- name: KAFKA | Copy optional config
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ kafka_conf_path }}/{{ item.name }}"
    mode: "0640"
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
  with_items: "{{ kafka_optional_conf_files }}"
  when: kafka_optional_conf_files is defined
  notify: Restart kafka
  tags: [server_properties]
