---

- name: KAFKA | Installing dependencies
  ansible.builtin.apt:
    pkg: "{{ kafka_required_libs }}"
    state: present
  become: true
  tags:
    skip_ansible_lint

- name: KAFKA | Ensure kafka group
  ansible.builtin.group:
    name: "{{ kafka_group }}"

- name: KAFKA | Ensure kafka user
  ansible.builtin.user:
    name: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
    home: /bin/false

- name: KAFKA | Create install path
  ansible.builtin.file:
    path: "{{ kafka_install_path }}"
    state: directory
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
    mode: "0755"

- name: KAFKA | Create data path
  ansible.builtin.file:
    path: "{{ kafka_data_path }}"
    mode: 0760
    state: directory
    owner: "{{ kafka_user }}"
    group: "{{ kafka_user }}"

- name: KAFKA | Check prev installation
  ansible.builtin.command: bash -c "ls {{ kafka_install_path }}/libs"
  register: kafka_check
  changed_when: false
  ignore_errors: true

- name: KAFKA | Get installed package version
  ansible.builtin.command: bash -c "ls {{ kafka_install_path }}/libs | grep 'kafka_.*\.jar'"
  register: kafka_installed_version
  changed_when: false
  when: kafka_check is success

- name: KAFKA | Check kafka version
  ansible.builtin.command: bash -c "ls {{ kafka_install_path }}/libs | grep 'kafka_{{ kafka_scala_version }}-{{ kafka_version }}.jar'"
  register: kafka_version_check
  changed_when: false
  ignore_errors: true

- name: KAFKA | Check if upgrading to 4.x
  ansible.builtin.debug:
    msg: "Checking if performing a \"safe\" upgrade from Kafka 3.x to 4.x"
  changed_when: True
  notify: message about upgrading
  when:
    - kafka_check is success
    - kafka_installed_version.stdout | regex_search('^kafka_[^|-]+-(\\d+\\.\\d+\\.\\d)(?=\\.jar$)', '\\1') is not none
    - kafka_installed_version.stdout | regex_search('^kafka_[^|-]+-(\\d+\\.\\d+\\.\\d)(?=\\.jar$)', '\\1') | first is version('3.3', '>=')
    - kafka_installed_version.stdout | regex_search('^kafka_[^|-]+-(\\d+\\.\\d+\\.\\d)(?=\\.jar$)', '\\1') | first is version('4.0', '<')
    - kafka_version is version('4.0.0', '>=')

- name: KAFKA | Stop service
  ansible.builtin.systemd:
    name: kafka
    state: stopped
  when: kafka_check is success and (kafka_force_reinstall or kafka_version_check is failed or kafka_check.stdout == "")

- name: KAFKA | Remove old version
  ansible.builtin.file:
    path: "{{ kafka_install_path }}/{{ item }}"
    state: absent
  with_items: "{{ kafka_removeable_folders }}"
  when: kafka_check is success and (kafka_force_reinstall or kafka_version_check is failed or kafka_check.stdout == "")

- name: KAFKA | Untar kafka
  ansible.builtin.unarchive:
    extra_opts: ['--strip-components=1']
    src: "{{ kafka_sources_url }}"
    remote_src: true
    dest: "{{ kafka_install_path }}"
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
  when: 'kafka_force_reinstall or kafka_version_check is failed or kafka_version_check.stdout == ""'
