{% for cfg in kafka_cfg %}
############################# {{ cfg.section | capitalize }} #############################
{% for key, value in cfg.properties.items() %}
{{key}}={{value}}
{% endfor %}
{% endfor %}
